!payment-processing/target/
!payment-processing/src/main/**/target/
!payment-processing/src/test/**/target/
!payment-processing/.mvn/wrapper/maven-wrapper.jar

!payment-analyzing/target/
!payment-analyzing/src/main/**/target/
!payment-analyzing/src/test/**/target/
!payment-analyzing/.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
